<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lazy.bike.mapper.BikeMapper">

    <resultMap type="com.lazy.bike.pojo.Bike" id="bike_result_map">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="qrCode" column="qr_code"/>

    </resultMap>


    <!--<insert id="save" parameterType="com.lazy.bike.pojo.Bike" >-->
		<!--INSERT INTO bike (id, status, latitude, longitude, qr_code) VALUES (#{id}, #{status}, #{latitude}, #{longitude}, #{qrCode})-->
	<!--</insert>-->
    <select id="getById" parameterType="long" resultMap="bike_result_map">
		SELECT * FROM t_bike WHERE id = #{id}
	</select>

    <select id="findAll" resultMap="bike_result_map">
		SELECT * FROM t_bike
	</select>

    <insert id="save" parameterType="com.lazy.bike.pojo.Bike">
		INSERT INTO t_bike (id, status, latitude, longitude, qrCode) VALUES (#{id}, #{status}, #{latitude}, #{longitude}, #{qrCode})
	</insert>

    <delete id="deleteByIds" parameterType="list">
        DELETE FROM t_bike WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="com.lazy.bike.pojo.Bike">
		UPDATE t_bike SET status = #{status}, latitude = #{latitude}, longitude = #{longitude} WHERE id = #{id}
	</update>

</mapper>